.yellow{
    display: flex;
    flex-flow:row;
}
.yellow .content{   
    height:150px;
    margin:10px;
    width: 98%;
    background-color: yellow;
}
.red{
    display: flex;
    flex-flow:row wrap;
}
.red .content{
    height:150px;
    width:99%;
    margin:10px;
    background-color: rgb(194, 18, 47);
}
.blue{
    display:flex;
}
.blue .content{
    width: 98%;
    height:150px;
    margin:10px;
    background-color: blue;
}

/*---------------------min width 768px--------------------------------*/
@media screen and (min-width:768px) and (max-width:1024px){
    .blue{
        flex-direction: column;
    }
}
/*---------------------min width 320px--------------------------------*/
@media screen and (min-width:320px) and (max-width:768px){
    .blue{
        flex-direction: column;
    }
    .yellow{
        flex-direction:column;
    }
}